* {
   margin: 0;
   padding: 0;

}

.one {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(food4.jpg);
}

button:hover{
   color: black;
   background-color: white;
   transition: 0.3s;
}
.contact ul {
   display: flex;
   justify-content: space-around;
   padding: 10px;

}

.contact li {
   color: linear-gradient(rgba(228, 160, 34, 0.801), white);
   font-size: 14px;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   /
}

.contact {
   border-bottom: 1px solid rgb(37, 37, 37);
}

.Menus {
   display: flex;
   justify-content: space-around;
   padding: 10px;
   align-items: center;
   padding: 20px;
   border-bottom: 1px solid rgb(61, 61, 61);
   position: sticky;
   top: 0;
   
   
}

.Menus h1 {
   width: 20%;
   padding-left: 40px;
   color: white;
   text-shadow: 1px 1px 1px yellow ;
}

.Menus ul {
   display: flex;
   text-align: center;
   justify-content: space-between;
   list-style-type: none;
}


.Menus a {
   margin-left: 60px;
   text-decoration: none;
   color: white;
   font-size: larger;


}
#effect:hover {
   color: orange;
   text-decoration: underline;
   transition: 0.3s;
}

#booking {
   text-align: center;
   padding: 20px;
   border-radius: 20px;
   width: 150px;
   background-color: orange;
   text-transform: uppercase;

}
#loginbox{
   width: 100px;
   height: 40px;
   background-color:orange;
}

#loginbox{
   color: black;
   
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}
.Menus button:hover {
   background-color: white;
   color: black;
   transition: 0.3s;
}

.title h1 {
   font-size: 80px;
   color: orange;
   font-family: 'Great Vibes', cursive;
   text-align: center;
   padding-top: 30px;
   letter-spacing: 10px;

}

.title h2 {
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   text-align: center;
   padding-top: 0;
   letter-spacing: 7px;
   text-shadow: 3px 3px 2px orange;
}

.title {
   padding-top: 40px;
   padding-bottom: 50px;
   text-align: center;
   
}

.items {
   display: flex;
   justify-content: space-around;
   padding: 40px 50px 30px 50px;

}

.items img {
   width: 100px;
   height: 100px;
   border-radius: 80px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   padding-top: 20px;

}


.items div {
   text-align: center;
}

.items h1 {
   color: white;
   font-size: 18px;
}

.items p {
   color: white;
   font-size: 14px;
   padding-top: 10px;
}

.second {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   background-color: white;

}


.leftbox {
   height: 300px;
   width: 300px;
   padding: 80px;
   padding-left: 50px;

}

.rightbox {
   padding-left: 400px;
   padding-top: 100px;

}



.rightbox h1 {
   font-size: 60px;
   color: orange;
   font-family: 'Great Vibes', cursive;
   text-align: center;
   letter-spacing: 10px;
   position: relative;
   top: 40px;
   


}

.rightbox h2 {
   font-size: 40px;
   font-family: 'Times New Roman', Times, serif;
   color: black;
   text-align: center;
   padding-bottom: 60px;
   padding-top: 0px;
   position: relative;
   z-index: 1;
}

.Intro {
   display: flex;
   justify-content: space-around;
   padding: 80px 50px 50px 50px;
   align-items: center;
   text-align: center;
   background-color: white;


}

.Intro p {
   color: black;
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 2.0;
}

.Intro h1 {
   color: rgba(228, 160, 34, 0.801);
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
}

.Intro li {
   padding-left: 100px;
}

.service {
   text-align: center;
   padding-top: 10px;
   padding-bottom: 20px;
   color: black;
   background-color: white;
}

.servicelist {
   display: flex;
   padding: 60px 30px 30px 100px;
   color: white;
}

.servicelist p {
   color: white;

}

.servicelist div {
   width: 25%;
   padding: 20px;
   text-align: center;
}

.specialisttitle {
   text-align: center;
   padding: 20px 30px 50px 30px;
   background-color: white;

}



.dishes {
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
   justify-content: space-around;
   background-color: white;
   margin: 5px;
   border: 3px solid orange;

}

.dishes p {
   color: black;

}

.dishes img {
   width: 60%;
   height: 200px;
   border-radius: 20px;
}

.dishes div {
   width: 30%;
   padding: 10px;
   text-align: center;

}

.dishes button {
   width: 100px;
   height: 40px;
   border-radius: 20px;
   background-color: orange;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

body {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('food3.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.dishes2 {
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
   justify-content: space-around;
   background-color: white;
   margin: 5px;
   border: 3px solid orange;
}

.dishes2 p {
   color: black;

}

.dishes2 img {
   width: 60%;
   height: 200px;
   border-radius: 20px;
}

.dishes2 div {
   width: 30%;
   padding: 10px;
   text-align: center;
}

.dishes2 button {
   width: 100px;
   height: 40px;
   border-radius: 20px;
   background-color: orange;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

.chefs {
   padding: 20px;
   color: black;
   background-color: white;
}

.chef {
   padding: 20px;
   text-align: center;
}

.chefimg {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   color: black;
   align-items: center;

}

.chefimg p {
   color: black;
}

.chefimg h1,
p {
   text-align: center;
   align-items: center;
}

fieldset {
   background-color: white;
   color: black;
   padding: 50px;
}

.table {
   margin-right: 40%;
   padding: 50px;
}


input {
   height: 40px;
   width: 300px;
}

label {
   font-size: x-large;
}

.forms {
   display: flex;
   justify-content: center;

}

.forms div {
   padding-left: 40px;
}
.bookbutton button:hover {
   background-color: white;
   color: black;
   transition: 0.3s;

}

.forms input {
   font-weight: bold;
   padding-left: 10px;
   letter-spacing: 3px;
}

.customer2 img {
   border-radius: 50px;
}

.customer2 {
   display: flex;
   padding: 50px;
   justify-content: space-around;


}

.Testimony {
   background-color: white;
   text-align: center;
   padding: 5px 20px;
}

.customer2 h1,
p {
   color: black;
}

.blog {
   background-color: white;
   text-align: center;
   padding: 10px;

}
.blog-header{
   padding-bottom: 40px;

}

.blog-posts {
   display: flex;
   justify-content: space-around;
   padding: 5px30px5px30px;
}

.blog-posts p:hover{
   color: orange;
}


footer {
   background-color: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('food3.jpg');
   color: white;
   text-align: center;
   padding-top: 40px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: space-between;
   font-family: Arial, Helvetica, sans-serif;
}

footer p {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}
footer button{
   height: 30px;
   width:120px;
   background-color: orange;
   color: white;
   border-radius: 5px;
}
footer h1{
   color: orange;
   font-family: 'Great Vibes', cursive;
   letter-spacing: 4px;
}

